<div class="bg-violet-900 text-slate-100 rounded-2xl drop-shadow-lg py-12 px-16">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col gap-2" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-main" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input-main" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-main" %>
    </div>

    <div class="field">
      <%= f.label :avatar%>
      <% if resource.avatar.attached? %>
        <%= image_tag resource.avatar.variant(resize_to_fill: [150, nil]), class: "rounded-full" %>
      <% end %>
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-main" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
