<%= turbo_frame_tag "friends-card" do %>
  <h3 class="text-slate-200 text-lg font-semibold">Friends</h3>
  <div class="rounded-lg bg-violet-400-op text-slate-800 shadow-lg shadow-slate-800 p-2 flex flex-col gap-8">
    <% if user.friends.present? %>
      <div class="user-friends flex flex-col gap-1">
        <%= render partial: 'friend', collection: user.friends, as: :friend %>
      </div>
    <% else %>
      <p>No friends</p>
    <% end %>
    <% if user == current_user %>
      <div class="user-search">
        <%= form_with url: user_path(user), method: :get, class: "text-sm flex gap-2 items-center" do |search_f| %>
          <%= search_f.text_field :user_search, placeholder: 'Search for user', class: "input-main text-sm py-1 px-2" %>
          <%= button_tag type: :submit do %>
            <% inline_svg_tag 'search.svg', size: '24*24' %>
          <% end %>
        <% end %>
        <% if @user_search %>
          <% if @found_users.size > 0 %>
            <p>Found users:</p>
            <%= turbo_frame_tag "found-users", class: "flex flex-col gap-1" do %>
              <%= render partial: 'friend', collection: @found_users, as: :friend %>
            <% end%>
          <% else %>
            <p>No results found.</p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
