<div class="pixel-bg min-w-fit user-layout bg-violet-900 text-slate-100 rounded-2xl drop-shadow-lg p-4 rounded-tl-[108px]">
  <div class="user-left-panel flex flex-col gap-4">
    <%= render 'profile_card' %>
  </div>
  <div class="user-content">
    <div class="user-content-top mb-4">
      <%= render 'title_bar', user: @user, relationship: @relationship %>
    </div>
    <%= turbo_frame_tag :posts, src: user_posts_path(@user) %>
  </div>
  <div class="user-right-panel flex flex-col gap-4">
    <%= turbo_frame_tag "user-game-bar", src: user_games_path(@user) %>
    <%= render 'friends_card', user: @user %>
  </div>
</div>
