<%= turbo_frame_tag "nav-friends" do %>
  <div data-controller="dropdown" class="relative h-[32px]">
    <button type="button" data-action="dropdown#toggle click@window->dropdown#hide"><%= inline_svg_tag 'friends.svg', size: '32*32', class: 'stroke-violet-400 hover:fill-violet-400' %></button>
    <% if current_user.pending_requestors.present? %>
      <div class="absolute rounded-full bg-red-400 w-[20%] h-[20%] top-[5%] right-[5%]"></div>
    <% end %>
    <div
  data-dropdown-target="menu"
  class="hidden transition transform origin-top-right absolute flex flex-col right-0 rounded text-sm bg-violet-100 border-2 border-violet-400 text-slate-800"
  data-transition-enter-from="opacity-0 scale-95"
  data-transition-enter-to="opacity-100 scale-100"
  data-transition-leave-from="opacity-100 scale-100"
  data-transition-leave-to="opacity-0 scale-95"
>
      <% if current_user.pending_requestors.present? %>
        <p class="text-xs font-semibold bg-slate-900 text-violet-400 px-1 pb-1">Friend Requests</p>
        <% current_user.pending_requestors.each do |requestor| %>
          <%= link_to requestor.display_name, user_path(requestor), class: "border border-violet-400 hover:bg-violet-400 px-2" %>
        <% end %>
      <% end %>
      <p class="text-xs font-semibold bg-slate-900 text-violet-400 px-1 pb-1">Friends</p>
      <% if current_user.friends.present? %>
        <% current_user.friends.each do |friend| %>
          <%= link_to friend.display_name, user_path(friend), class: "border border-violet-400 hover:bg-violet-400 px-2" %>
        <% end %>
      <% else %>
        <%= content_tag :p, "No friends :(", class: "border border-violet-400 text-slate-500 px-2 italic whitespace-nowrap" %>
      <% end %>
    </div>
  </div>
<% end %>
