<%= form_with model: search_game, url: [user, search_game], class: "w-32 bg-slate-100 text-slate-900 text-sm rounded drop-shadow-lg items-center flex flex-col overflow-hidden" do |game_f| %>
  <%= game_f.hidden_field :game_id, value: found_game.id %>
  <%= game_f.hidden_field :name, value: found_game.name %>
  <%= button_tag type: :submit do %>
    <%= image_tag found_game.image["small_url"], class: "max-w-32" %>
    <p class="px-2 py-1"><%= found_game.name %></p>
  <% end %>
<% end %>
