<%= turbo_frame_tag "user-game-bar" do %>
  <h3 class="text-slate-200 text-lg font-semibold">Now Playing</h3>
  <div class="rounded-lg bg-violet-400-op text-slate-800 shadow-lg shadow-slate-800 p-2 flex flex-col gap-8">
    <%= turbo_frame_tag "user-games", class: "flex flex-col gap-1" do %>
      <% unless @user.games.present? %>
        <%= turbo_frame_tag "no-user-games" do %>
          <p>No Games</p>
        <% end%>
      <% else %>
        <%= render partial: 'game', collection: @user.games, locals: { user: @user } %>
      <% end %>
    <% end %>
    <% if @user == current_user %>
      <div class="game-search">
        <%= form_with url: user_games_path(@user), method: :get, class: "text-sm flex gap-2 items-center" do |search_f| %>
          <%= search_f.text_field :search, placeholder: 'Search for game', class: "input-main text-sm py-1 px-2" %>
          <%= button_tag type: :submit do %>
            <% inline_svg_tag 'search.svg', size: '24*24' %>
          <% end %>
        <% end %>
        <% if @search %>
          <% if @found_games.size > 0 %>
            <%= turbo_frame_tag "found-games", class: "flex flex-col gap-1 items-center" do %>
              <p class="mt-2">Found games:</p>
              <%= render partial: 'found_game', collection: @found_games, as: :found_game, locals: { user: @user, search_game: @search_game } %>
            <% end%>
          <% else %>
            <p>No results found.</p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
