<%= turbo_frame_tag "user-game-bar" do %>
  <div class="rounded-lg bg-violet-400 text-slate-800 shadow-lg shadow-slate-800 p-2 flex flex-col gap-4">
    <p class="font-digital text-sm">/now playing</p>
    <% unless @user.games.present? %>
      <%= turbo_frame_tag "no-user-games" do %>
        No Games
      <% end%>
    <% else %>
      <%= turbo_frame_tag "user-games", class: "flex flex-col gap-1" do %>
        <%= render partial: 'game', collection: @user.games, locals: { user: @user } %>
      <% end %>
    <% end %>
    <div class="game-search">
      <%= form_with url: user_games_path(@user), method: :get, class: "text-sm flex gap-2 items-center" do |search_f| %>
        <%= search_f.text_field :search, placeholder: 'Search for game', class: "text-sm py-1 px-2" %>
        <%= button_tag type: :submit do %>
          <% inline_svg_tag 'search.svg', size: '24*24' %>
        <% end %>
      <% end %>
    </div>
    <% if @search %>
      <% if @search_games.size > 0 %>
        <%= turbo_frame_tag "search-games", class: "flex flex-col gap-2" do %>
          <%= render partial: 'search_game', collection: @search_games, as: :game_info, locals: { user: @user, found_game: @found_game } %>
        <% end%>
      <% else %>
        <p>No results found.</p>
      <% end %>
    <% end %>
  </div>
<% end %>
