<%= form_with model: post, url: [user, post], class: 'flex flex-col gap-2', data: { controller: 'attachment-preview', attachment_preview_width_value: "150", attachment_preview_height_value: "100" } do |f| %>

  <div class="post-input-bar flex items-center">
    <%= f.text_field :body, class: 'input-main flex-grow' %>
    <div class="file-attach ml-2">
      <%= f.label :images do %>
        <%= inline_svg_tag 'image.svg', size: '32*32', class: "stroke-violet-400 hover:stroke-violet-300" %>
      <% end %>
      <%= f.file_field :images, multiple: true, class: 'hidden', data: { attachment_preview_target: "attachmentInput", action: "change->attachment-preview#setPreviewImages" } %>
    </div>
    <%= button_tag type: :submit do %>
      <%= inline_svg_tag 'add.svg', size: '32*32', class: 'ml-4 stroke-lime-300 stroke-2 hover:stroke-lime-400' %>
    <% end %>
  </div>

  <div class="attached-files flex gap-4" data-attachment-preview-target="imgContainer">
  </div>

<% end %>
