<div class="bg-violet-900 text-violet-50 rounded-2xl drop-shadow-lg">

  <%= turbo_frame_tag id="Posts" do %>
    <div class="post-main-container flex flex-col gap-2">
      <%= render 'new_form', post: @post, user: @user if current_user %>
      <% if @user == current_user %>
        <% if @feed == 'true' %>
          <%= link_to 'Self Only', user_posts_path(@user, feed: 'false'), data: { turbo_action: :replace } %>
        <% else %>
          <%= link_to 'Feed', user_posts_path(@user, feed: 'true'), data: { turbo_action: :replace } %>
        <%end%>
      </div>
    <% end %>
    <div id="posts-container" class="flex flex-col gap-1">
      <%# append posts from turbo stream here %>
    </div>

    <%= turbo_frame_tag "pagination", src: user_posts_path(@user, feed: @feed, format: :turbo_stream), loading: :lazy do %>
      <%= render 'posts_placeholder', page_size: @page_size %>
    <% end %>
  </div>
<% end %>
</div>
